@charset "utf-8";

body{
  margin: 0;
  min-width: 980px;
  padding: 0;
}

p {
  margin:5px 0;
  line-height:25px;
}

a {
  text-decoration:none;
  color:inherit;
  transition: color .5s ease;
}

strong {
  font-weight:bold;
}

/*p{
margin: 0 0 20px 0;
}

p, ul{
font-family: 'Open Sans Condensed', sans-serif;
font-size-adjust:0.488;
font-weight:200;
font-style:normal;
}*/

/*img{
border: 0;
width: 100%;
}

h1, #pixels{
font-family: 'Open Sans Condensed', sans-serif;
font-size-adjust:0.40;
font-weight:700;
font-style:normal;
}

h2{
font-family: 'Open Sans Condensed', sans-serif;
font-size-adjust:0.531;
font-weight:500;
font-style:normal;
}

#header h1, #pixels{
color: #48941A;
}*/

/*.float-left{
float: left;
margin: 0 0 0 20px;
}*/

.float-right{
  float: right;
  margin: 0 20px 0 0;
}

.center{
  font-size: 2.5em;
  padding: 80px 0 0 0;
  text-align: center;
}

#nav{
  list-style: none;
  position: fixed;
  right: 20px;
}

#nav li{
  margin: 0 0 15px 0;
}

#header, #intro, #second{
  width: 100%;
}

#intro{
  background:url(https://s3.amazonaws.com/website-seneca/asphalt2.jpg) 50% 0 no-repeat fixed;
  background-size: cover;
  color: white;
  height: auto;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  /*background-position: 50% -300px !important ;*/
}

#second{
  background: url(https://s3.amazonaws.com/website-seneca/computerDesk.jpg) 50% 0 no-repeat fixed;
  background-size: cover;
  color: black;
  height: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/*#second .bg{
background: url(https://s3.amazonaws.com/website-seneca/ventura_rocks.jpg) 50% 0 no-repeat fixed;
height: 1300px;
margin: 0 auto;
padding: 0;
position: absolute;
z-index: 200;
max-width: 1900px;
width: 100%;
overflow: hidden;
}*/

#third{
  background: url(image/ventura-rocks2.png) 50% 0 no-repeat fixed;
  background-size: cover;
  color: black;
  height: 650px;
  padding: 100px 0 0 0;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

#fifth{
  background: #ccc;
  height: 400px;
  margin: 0 auto;
  padding: 40px 0 0 0;
}

/*.story{
margin: 0 auto;
min-width: 980px;
overflow: auto;
width: 980px;
}

.story .float-left, .story .float-right{
padding: 100px 0 0 0;
position: relative;
width: 350px;
}*/

///////

/* MISC */
.clear {
  clear: both;
}

.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}

header {
  position: relative;
  width: auto;
  max-width: 900px;
  margin: 0 auto 20px auto;
}

.mainHeader {
  margin:35px 0 0 0;
  font-size:55px;
  color: black;
  font-family: 'Baumans', cursive;
}

header p {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  color: black;
  margin-left:132px;
}

nav {
  position: absolute;
  right: 0;
  bottom: 0;
}

nav ul {
  list-style:none;
}

nav ul li {
  display: block;
  float: left;
  padding: 3px 15px;
  color: black;
}

nav ul li a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  transition: all .25s ease;
}

nav ul li a:hover {
  color:#E56038;
}


#mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

#mobileMenu ul li {
  display:block;
  background-color: #E56038;
  color: #fff;
  padding: 12px 0;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #CC5836;
}

.toggleMobile {
  display: none;
}

* TWO COLUMNS */

#text_columns article.column1, #text_columns .column2 {
  /*margin: 70px -70px -70px;*/
  font-size:14px;
  float:left;
  width:auto;
  /*max-width: 450px;*/
  color: white;
}


#text_columns .column2 {
  margin: 120px 0;
}

.row {
  position:relative;
  /*margin: 0 0 0 50px;*/
  float: right;
  width: 280px;
}

.row img {
  /*float:left;*/
  width: 80%;
  height: auto;
}

#pupsImg {
  width: 60%;
  height: auto;
}

#text_columns article.column1, #text_columns .column2 {
  float:none;
  /*max-width: 500px;
  margin: 50px 30px 0 30px;*/
}

#text_columns {
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  clear: both;
  width: auto;
  margin: 1% 5%;
}

#four_columns h2, #text_columns h3 {
  font-size:20px;
  /*border-bottom: 1px solid white;*/
  padding: 20px 0;
  margin-bottom: 20px;
  color: white;
}


.column2 .row {
  margin: 0 0 40px 10px;
  width:auto;
}


.column2 .row {
  float:none;
  margin:0 0 40px 50px;
}

.skills {
  clear: both;
  text-align: center;
  /*border-top: 1px solid white;
  padding: 20px 0;
  margin-top: 20px;*/
}

figure.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.icons {
  width: 100px;
  height: 100px;
}

.caption {
  display: block;
  color: white;
}

.portImage {
  max-width: 170%;
  height: auto;
  margin-right: 90px;
}

#four_columns {
  float: left;
  margin-right: 10px;
  margin-left: 35px;
}

.img-item {
  float: left;
  margin: 15px -100px 45px 35px;
  color: black;
}

#four_columns {
  position:relative;
  display:block;
}

.img-item a {
  position:relative;
  display:block;
}

.thumb-screen {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:113px;
  background: #000 url(img/zoom.png) center center no-repeat;
  z-index:99;
  opacity: 0;
  transition: opacity .5s ease;
}

.thumb-screen:hover {
  opacity:0.5;
}

.portfolio_items strong {
  border-bottom: 1px solid white;
  /*border-bottom: 1px solid #D6D0C1;*/
  padding-bottom:10px;
  margin: 10px 0;
  display: block;
  color: white;
  text-align: center;
  /*max-width: 70%;*/
}

.portfolio_items {
  line-height: 25px;
  font-size:14px;
  width:480px;
  color: white;
}


/* FOOTER */

footer {
  position:relative;
  clear: both;
  width: auto;
  height: 70px;
  background:#333333;
}

footer .wrapper {
  line-height:25px;
  margin: 0 auto;
  padding-top:30px;
  width:auto;
  max-width:900px;
  font-size:14px;
}

footer .wrapper .column {
  font-family: 'Open Sans', sans-serif;
  color:#ababab;
  float:left;
  width:280px;
  margin-right:20px;
}

footer .wrapper .column.midlist ul li {
  display:block;
  width:auto;
  padding:0 0 10px 25px;
  margin-bottom:10px;
  border-bottom: 1px solid #444444;
  background:url(img/arrowright2.png) left 6px no-repeat;
}

footer .wrapper .column.midlist ul li a:hover {
  color:#fff;
}

footer .wrapper .column.rightlist ul li {
  display:block;
  width:auto;
  margin-bottom:15px;
}

footer .wrapper .column.rightlist ul li a span {
  margin-left:95px;
  display:block;
}

footer .wrapper .column.rightlist ul li a img {
  transition: border .25s ease;
  float:left;
  border:3px solid #444444;
}

footer .wrapper .column.rightlist ul li a img:hover {
  border-color: #5e5e5e;
}

footer .wrapper .column h4 {
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid #444444;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
}

#copyright {
  background: #1D1D1D;
  height:70px;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
}
#copyright .wrapper {
  font-family: 'Open Sans', sans-serif;
  padding-top:25px;
  color: #5e5e5e;
  font-size:14px;
  position:relative;
}
#copyright .wrapper .social {
  position:absolute;
  right:0;
  top:25px;
}
#copyright .wrapper .social a {
  transition: opacity .25s ease;
  opacity: 0.3;
  margin-left: 12px;
  display:block;
  float:left;
}
#copyright .wrapper .social a:hover {
  opacity: 0.7;
}
#copyright .wrapper a {
  color: #ABABAB;
}

#copyright .wrapper a:hover {
  color: #fff;
}


/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */
@media (max-width: 1215px) {
  #slider_content1, #slider_content2, #slider_content3
  {
    width:auto;
    margin-right:50px;
  }
  #slider_content1 h2, #slider_content2 h2, #slider_content3 h2
  {
    font-size:18px;
  }
  #slider_content1 p, #slider_content2 p, #slider_content3 p
  {
    font-size:14px;
  }
  #slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p  .responsive_button
  {
    display:inline;
  }

  .container .button
  {
    display:none;
  }
}

@media (max-width: 915px) {
  #boxcontent article {
    float: none;
    margin: 30px auto 0 auto;
    width: 60%;
  }

  #spacer {
    font-size:15px;
  }

  #spacer .search {
    margin-top:19px;
    margin-right:-385px;
  }

  #spacer p {
    margin-left:-370px;
  }

  input {
    padding:4px;
    font-size:14px;
  }

  input[type="submit"] {
    padding: 1px 14px;
  }

  #four_columns {
    width: 500px;
  }

  #four_columns .img-item:nth-of-type(3), #four_columns .img-item:nth-of-type(4) {
    margin-top: 25px;
  }


  /* FOUR COLUMNS */

  #four_columns {
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    clear: both;
    width: auto;
    /*max-width:900px;*/
    margin:0 auto;
  }

  /*#text_columns article.column1, #text_columns .column2 {
  float:none;
  max-width: 500px;
  margin: 50px 30px 0 30px;
  }*/

  /*.column2 .row {
  float:none;
  margin:0 0 40px 50px;
  }*/

  footer .wrapper .column {
    font-size: 12px;
    width: 230px;
  }
}

@media (max-width: 765px) {
  .container {
    height:1px;
    top: -1500px;
  }

  header {
    height:120px;
  }

  header nav {
    right: auto;
    bottom: auto;
    left: 50%;
    top:100px;
    margin-left: -184px;
  }

  #spacer {
    height:100px;
  }

  #spacer p {
    text-align:center;
    position:static;
    margin: 0 auto;
    padding:15px 0 7px 0;
  }

  #spacer .search {
    text-align:center;
    position:static;
    margin: 0 auto;
  }

  footer {
    padding-bottom:70px;
    height: auto;
  }

  footer .wrapper {
    width: 350px;
    margin: 0 auto;
  }

  footer .wrapper .column {
    margin-top:30px;
    float:none;
    font-size: 14px;
    width: auto;
  }

  footer .wrapper .social {
    display:none;
  }
}

.right {
  float: right;
  /*display: inline-block;*/
  float: left;
  /*margin-right: 1px;*/
}

@media (max-width: 500px) {
  header {
    margin-top: 80px;
    text-align: center;
  }
  #spacer {
    height:auto;
    padding-bottom:15px;
  }
  #four_columns {
    width:auto;
  }
  #four_columns .img-item {
    width: 200px;
    float:none;
    margin: 25px auto 0 auto;
  }
  #four_columns h2 {
    margin: 0 30px;
  }
  /*.column2 .row {
  margin: 0 0 40px 10px;
  width:auto;
  }*/
  footer .wrapper {
    width:auto;
  }
  footer .wrapper .column {
    margin: 0 auto 15px auto;
    max-width:300px;
  }
  input {
    width:auto;
  }
  #mobileMenu {
    display: block;
    z-index: 99;
  }
  .toggleMobile {
    position: fixed;
    top: 10px;
    left: 10px;
    display: block;
    width: 40px;
    height: 36px;
    cursor: pointer;
    z-index: 999;
  }

  .toggleMobile span.menu1, .toggleMobile span.menu2, .toggleMobile span.menu3 {
    display: block;
    position: absolute;
    width: 40px;
    height: 8px;
    left: 0;
    background: #EDA28C;
    -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
  }

  .toggleMobile span.menu1 {
    top: 0;
  }

  .toggleMobile span.menu2 {
    top: 14px;
  }

  .toggleMobile span.menu3 {
    top: 28px;
  }

  .toggleMobile.active span.menu1 {
    top: 14px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
  }

  .toggleMobile.active span.menu2 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
  }

  .toggleMobile.active span.menu3 {
    opacity: 0;
    -webkit-transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
  }

  header nav {
    display:none;
  }

  .mainHeader {
    font-size:40px;
  }

  header p {
    margin-left: 60px;
    font-size:14px;
  }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:inline-block;
  overflow: hidden;
  float:left;
}

/* KEYFRAMES */

@keyframes stylie-transform-keyframes {
  0% {transform:translateX(30px) translateY(46px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translateX(260px) translateY(-150px) rotate(0deg) translate(-50%, -50%);}
}

@keyframes stylie-transform2-keyframes {
  0% {transform:translateX(40px) translateY(40px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translateX(50px) translateY(40px) rotate(0deg) translate(-50%, -50%);}
}


.nav-right{
  float: right;
}

li {
  display:inline-block;
}

.nav-left {
  float: left;
}

hr {
  background-color: white;
  border:0;
  height:1px;
  margin:20px 0;
}

/* 3 COLUMNS */
.socialImage {
  width: 45px;
  /*float: left;*/
}

#boxcontent {
  width:auto;
  max-width:900px;
  margin:0 auto;
  /*padding:70px 0 45px 0;*/
}

#boxcontent article {
  float: left;
  width: 180px;
  margin-right: 45px;
  font-size: 14px;
}

#boxcontent article h3 {
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
  margin-bottom:10px;
  margin-left:75px;
}

#boxcontent article img {
  float:left;
}

/* SKIPLINK */
.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 1em;
  display: none;
}

.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}


.roadImages {
  margin-top: -250px;
}
.deskImages {
  margin-top: -250px;

}
.venturaImages {
  margin-top: -220px;
}

.mainPage {
  text-align: center;
}

#profilePic {
  height: 10%;
  width: 10%;
}

#name {
  /*margin-top: 50px;*/
  font-family: 'Amatic Bold', arial;
  font-size: 68px;
  text-shadow: 4px 4px 4px #aaa;
  padding-top: 60px;
}

#title {
  font-family: 'Amatic Bold', arial;
  font-size: 38px;
  margin-top: 15px;
}

#aboutMeText {
  font-family: 'Amatic Bold', arial;
  line-height: 35px;
  color: white;
  text-shadow: 4px 4px 4px black;
}

#profilePic {
  border-radius: 50%;
  margin-top: 15px;
}
