* {
  margin: 0;
  border: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  font-size: 18px;
  position: relative;
  font-family: 'Love Ya Like A Sister', cursive;
}

.mainSocial {
  margin-top: 2%;
}

#ventura {
  padding-top: 35px;
}

#name {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 250%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 4px 4px 4px gray;

}

/*h3 {
text-align: center;
color: #4A4444;
text-transform: uppercase;
letter-spacing: 1%;
}*/

#title {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 120%;
  text-align: center;
  color: #4A4444;
  letter-spacing: 1%;
  margin-top: 1%;
}

#quote {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 150%;
  text-align: center;
  color: #4A4444;
  letter-spacing: 1%;
  margin-top: 1%;
  font-family: 'Love Ya Like A Sister', cursive;
}

.contact:hover {
  opacity: 0.7;
}

p {
  padding: 2%;
  color: #4A4444;
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
}

#banner-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.slider {
  width: 100%;
}

.slider1 img {
  min-width: 100%;
  margin: -5px auto;
}

.slider .bx-wrapper .bx-controls-direction a {
  outline: 0 none;
  position: absolute;
  text-indent: -9999px;
  top: 40%;
  height: 71px;
  width: 40px;
  z-index: -1;
  transition: all 0.7s;
}

.one-half {
  width: 44%;
  float: left;
  margin: 5% 0 3% 4%;
  text-align: center;
  font-size: 20px;
}

.one-third {
  width: 28%;
  float: left;
  margin: 2% 0 3% 4%;
  text-align: center;
}

.mainPage {
  margin: 2% 0;
  text-align: center;
}

.images {
  width: 17%;
  margin-top: 3%;
  border-radius: 10%;
}

.left-col {
  width: 60%;
  float: left;
  margin: 2% 0 4% 4%;
}

.sidebar {
  width: 26%;
  float: right;
  margin: 4%;
}

.profilePic {
  border-radius: 10%;
  width: 50%;
}

.clearfix {
  clear: both;
}

.parallax-1 {
  background: url("image/color.png") repeat fixed 100%;
  text-align: center;
}

.parallax-inner {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}

.parallax-2 {
  background: url("image/laptop-photo.jpeg") repeat fixed 100%;
  text-align: center;
}

.parallax-inner h3, .parallax-inner p {
  color: white;
  text-shadow: 4px 4px 4px black;
}

.skills {
  text-align: center;
  margin: 0;
}

#skills {
  text-align: center;
  font-size: 35px;
}

#skillsHeader {
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  font-size: 40px;
  margin-top: 3%;
}
#aboutHeader {
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  font-size: 40px;
  margin-top: 3%;
  color: white;
  text-shadow: 4px 4px 4px black;
}

#portHeader {
  font-size: 40px;
  margin-top: 3%;
}

.icons {
  width: 100px;
  height: 100px;
  margin: 3% 2%;
}

.caption {
  display: block;
  color: black;
  font-size: 18px;
}

figure.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
  margin: 4% 1%;
}

footer {
  position:relative;
  clear: both;
  width: auto;
  height: 70px;
  background:#333333;
}

footer .wrapper {
  line-height:25px;
  margin: 0 auto;
  padding-top:30px;
  width:auto;
  max-width:900px;
  font-size:14px;
}

footer .wrapper .column {
  font-family: 'Love Ya Like A Sister', cursive;
  color:#ababab;
  float:left;
  width:280px;
  margin-right:20px;
}

footer .wrapper .column.midlist ul li {
  display:block;
  width:auto;
  padding:0 0 10px 25px;
  margin-bottom:10px;
  border-bottom: 1px solid #444444;
  background:url(img/arrowright2.png) left 6px no-repeat;
}

footer .wrapper .column.midlist ul li a:hover {
  color:#fff;
}

footer .wrapper .column.rightlist ul li {
  display:block;
  width:auto;
  margin-bottom:15px;
}

footer .wrapper .column.rightlist ul li a span {
  margin-left:95px;
  display:block;
}

footer .wrapper .column.rightlist ul li a img {
  transition: border .25s ease;
  float:left;
  border:3px solid #444444;
}

footer .wrapper .column.rightlist ul li a img:hover {
  border-color: #5e5e5e;
}

footer .wrapper .column h4 {
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid #444444;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
}

#copyright {
  background: #1D1D1D;
  height:70px;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
}

#copyright .wrapper {
  font-family: 'Love Ya Like A Sister', cursive;
  padding-top:25px;
  color: #5e5e5e;
  font-size:14px;
  position:relative;
}

#copyright .wrapper .social {
  position:absolute;
  right:0;
  top: 18px;
}

#copyright .wrapper .social a {
  transition: opacity .25s ease;
  margin-left: 12px;
  display:block;
  float:left;
}

#copyright .wrapper .social a:hover {
  opacity: 0.7;
}

#copyright .wrapper a {
  color: #ABABAB;
}

#copyright .wrapper a:hover {
  color: #fff;
}

/* MISC */
.clear {
  clear: both;
}

.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.portButtons {
  margin: 30px auto;
  text-align: center;
}

.portLi {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
}

@-moz-keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

@-webkit-keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

@-o-keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

.round {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 18px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  text-shadow: 0 1px 0 rgba(255,255,255,.7);
  letter-spacing: -.065em;
  font-family: "Hammersmith One", sans-serif;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  box-shadow: 2px 2px 7px rgba(0,0,0,.2);
  border-radius: 300px;
  z-index: 1;
  border-width: 4px;
  border-style: solid;
}

.round:hover {
  width: 130%;
  height: 130%;
  left: -15%;
  top: -15%;
  font-size: 33px;
  padding-top: 38px;
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  -o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  z-index: 2;
  border-size: 10px;
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

a.red {
  background-color: rgba(239,57,50,1);
  color: rgba(133,32,28,1);
  border-color: rgba(133,32,28,.2);
}

a.red:hover {
  color: rgba(239,57,50,1);
}

a.green {
  background-color: rgba(1,151,171,1);
  color: rgba(0,63,71,1);
  border-color: rgba(0,63,71,.2);
}

a.green:hover {
  color: rgba(1,151,171,1);
}

.round span.round {
  display: block;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-size: 1px;
  border: none;
  padding: 40% 20% 0 20%;
  color: #fff;
}

.round span:hover {
  opacity: .85;
  font-size: 16px;
  -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
  -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
  -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.green span {
  background: rgba(0,63,71,.7);
}

.red span {
  background: rgba(133,32,28,.7);
}

.yellow span {
  background: rgba(161,145,0,.7);

}

/*Media Queries*/
@media screen and (max-width: 768px) {
  .slider .bx-wrapper .bx-controls-direction {
    display: none;
  }
  .parallax-inner {
    /*display: none;*/
  }
  .one-third {
    width: 100%;
    margin: 4% 0;
  }
  .one-half {
    /*display: none;*/
  }
  h1 {
    font-size: 125%;
  }
  .left-col {
    width: 100%;
    margin: 0 0 3% 0;
  }
  .sidebar {
    width: 100%;
    margin: 0;
  }
  h3 {
    padding-top: 3%;
  }
  .profilePic {
    width: 25%;
    margin-top: 0;
    margin-right: 8%;
  }
  .images {
    width: 25%;
  }
  .contact {
    width: 10%;
    text-align: center;
    margin: 1%;
  }
  .animatedIcons {
    width: 50%;
  }
}
